@charset "UTF-8";

* {
    
    font-family: Arial, Helvetica, sans-serif
}

body {
    background-color: aliceblue;
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 20px;
    box-shadow: 5px 5px 15px #898952;
}

h1 {
    color: #898952;
    text-align: center;
    text-shadow: 1px 1px 2px #383823;
}

h2 {
    color: #B2945B;
    
}

p {
    text-align: justify;
}